.board {
  margin: 20px;
  padding: 10px;
  height: 80vh;
  background-color: #002e2c6b;
  border-radius: 8px;
  border: solid 1px #002e2c;
  display: flex;
  justify-content: flex-start;
}

.addBtn {
  margin: 10px;
  padding: 10px;
  height: 95%;
  background: #002e2ca4;
  border-radius: 8px;
  color: #f9e9ec;
  min-width: 220px;
  height: 40px;
}

.addColumnForm {
  margin: 10px;
  padding: 10px;
  height: 56px;
  border-radius: 8px;
  width: 220px;
  color: white;
  font-size: 14px;
  background-color: #002e2c;
}

input {
  border-radius: 8px;
  width: 214px;
  height: 20px;
  padding: 2px 6px;
  box-shadow: none;
  border: solid 1px #002e2c;
}

.addColumnBtns {
  box-shadow: 0px 10px 14px -7px #002e2c;
  background: linear-gradient(to bottom, #00857ebb 5%, #002e2cb4 100%);
  background-color: #00857ec0;
  border-radius: 8px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 12px;
  margin: 4px 6px 2px 0;
  text-shadow: 0px 1px 0px #002e2c;
}
.addColumnBtns:hover {
  background: linear-gradient(to bottom, #002e2c 5%, #00857e 100%);
  background-color: #002e2c;
}
.addColumnBtns:active {
  position: relative;
  top: 1px;
}
