.board {
  margin: 20px;
  padding: 10px;
  height: 80vh;
  background-color: #002e2c6b;
  border-radius: 8px;
  border: solid 1px #002e2c;
  display: flex;
  justify-content: flex-start;
}

.boardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-shadow: 1px 2px black;
  margin: 0 20px;
}

.addBtn {
  margin: 10px;
  padding: 10px;
  height: 95%;
  background: #002e2ca4;
  border-radius: 8px;
  color: #f9e9ec;
  min-width: 220px;
  height: 40px;
}

.addColumnForm {
  margin: 10px;
  padding: 10px;
  height: 56px;
  border-radius: 8px;
  width: 220px;
  color: white;
  font-size: 14px;
  background-color: #002e2c;
}

input {
  border-radius: 8px;
  width: 214px;
  height: 20px;
  padding: 2px 6px;
  box-shadow: none;
  border: solid 1px #002e2c;
}
